<!-- SSR:template(wish-list-count) -->
<script type="x/template" data-component="wish-list-count">
    <a class="nav-link" :href="urlWishList" rel="nofollow" :aria-label="$translate('Ceres::Template.wishList')">
        <span class="badge-right">${ wishListCount }</span>
        <i class="fa" :class="{'fa-heart-o': !wishListCount, 'fa-heart': wishListCount}" aria-hidden="true"></i>
    </a>
</script>
<!-- /SSR -->