
#controlsList {
	display: none;
}

.dia-top-bar{
	background: $dia-top-bar-bg;
	border-bottom: 2px solid $dia-top-bar-border;

	&__list{
		display: flex;
		justify-content: flex-end;
		list-style: none;
		margin-bottom: 0;
		padding: .5rem 0;
	}

	&__usplist{
		color: #fff;
		font-size: 12px;
		justify-content: space-between;
		background-color: #333;
		position: relative;

		@include media-breakpoint-down(md) {
			flex-flow: wrap;
			justify-content: center;
		}

		&:before{
			position: absolute;
			content: '';
			left: calc(-1 * (100vw - 100%) / 2) !important;
			right: 0 !important;
			top: 0;
			margin-left: 0;
			margin-right: 0;
			max-width: none !important;
			background: #333;
			width: 100vw;
			height: 100%;
		}
	}

	&__usplist-item{
		margin: 0px 0px 0px 25px;
		position: relative;
		
		@include media-breakpoint-down(md) {
			margin: 5px 20px 5px 25px;
		}

		&:before{
			position: absolute;
			content: '';
			width: 20px;
			height: 15px;
			left: 0;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23333333' stroke='%23ffffff' stroke-width='1' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
			background-size: cover;
			left: -25px;
		}
	}

	&__list-item{
		margin-right: 5px;
		margin-left: 5px;
		&--languages a {
			color: $white;
		}
	}

}

.contact-list {
	display: flex !important;
	justify-content: space-evenly;
	list-style: none;
	margin-bottom: 0;
	padding: .5rem 0;

	&__item {
			position: relative;
		&--phone{
			&:before{
				position: absolute;
				content: '';
				width: 15px;
				height: 15px;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%2343484D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-phone'%3E%3Cpath d='M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z'%3E%3C/path%3E%3C/svg%3E");
				background-size: contain;
				top: 5px;
				left: -20px;			
			}
		}
		&--mail{
			&:before{
				position: absolute;
				content: '';
				width: 15px;
				height: 15px;
				background-size: contain;
				top: 5px;
				left: -20px;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%2343484D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-mail'%3E%3Cpath d='M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z'%3E%3C/path%3E%3Cpolyline points='22,6 12,13 2,6'%3E%3C/polyline%3E%3C/svg%3E");
			}
		}
		a{
			font-size: 14px;
			color: rgba(67, 72, 77, .8) !important;

			@include media-breakpoint-down(lg) {
				font-size: 12px; 
			}
		}

		
	}
}

.safety-list {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: space-between;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0;
	padding: .5rem 0px .5rem 10px;

	&__item{
		width: 90px;
    	height: 50px;
	}

	&__image{
		width: 100%;
		height: 100%;
	}
}
